.temperature__container {
  height: 450px;

  &--img {
    position: relative;
    height: 200px;
    top: 26px;
  }

  &--degree {
    position: relative;
    top: 28px;
    font-size: 61px;
  }
}

.temperature__secondContainer {
  position: relative;
  top: 54px;
  display: flex;
  justify-content: space-evenly;
}
