@font-face {
  font-family: "Azonix";
  src: local("Azonix"), url(../../Font/Azonix.otf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  text-align: center;
  color: whitesmoke;
  font-family: "Azonix";
  background: linear-gradient(#325767, #8e97a0);

  // Another mode
  &--isActive {
    background: linear-gradient(#e1751a, #e6c027);
    text-align: center;
    color: whitesmoke;
    font-family: "Azonix";
  }
}
