.searchBar__container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

  &--title {
    font-family: "Resotho";
    letter-spacing: 2px;
    background: transparent;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    outline: none;
    color: lightgray;
    text-align: center;
  }
}
